* {
    font-family: 'Open Sans', sans-serif;
}
body {
    height: 100%;
    background-image: linear-gradient(135deg, #5d2994 , #615000);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
nav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
}
nav a {
    display: block;
    text-align:justify;
    text-decoration: none;
    color:white;
    padding: 16px;
    transition: background-color ease 0.25s;
    transition: color ease 0.25s;
}
nav a:hover {
    background-color: #FB5D85;
    color: black;
}
li {
    background-color: rgba(0, 0, 0, 0.7);
}
#profilephoto {
    border:5px solid #D9486E;
    border-radius: 50%;
    float: left;
}
#mobileonly {
    display:none;
}
@media screen and (max-width: 600px) {
    nav {
      display: none;
      width: 0px;
      width: 100%;
    }
    #mobileonly {
        display:inline;
    }
  }

  @media screen and (max-width: 400px) {
    p {
        font-size: 0.8rem;
        width: 80%;
    }
  }
@media screen and (min-width:600px) {
    main {
        margin-left: 200px;
        padding-left: 20px;
        
    }
    h1 {
        text-align: left;
    }
    p {
        width: 65%;
    }
}

h1 {
    color: #F2DE79;
    text-shadow: 2px 2px 5px black;
}
ul {
    list-style-type: none;
}
p {
    color: #FB5D85;
    padding: 10px;
    background-color:rgba(0, 0, 0, 0.7);
    
    border: 2px solid rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    font-size:1.2rem;
}
main a {
    color:#F2B705;
    text-decoration: none;
}

main a:hover {
    color:#F2B705;
    text-decoration: underline;
}
